$dark-color : #003149;
$main-color : #CFCFCF;
$light-color: #006EA5;
$base-color : #CBE6F3;

$h1-color: rgba(0, 0, 29, 0.8);
$h1-bgcolor: rgba(252, 253, 249, 0.5);
$h1-shadow-color: rgba(0, 0, 0, 0.4);
