@import 'color';

#footer {
  @include gradient_top_to_bottom($main-color, rgba(255, 255, 255, 0.3));
  overflow: hidden;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-family: monospace;
}
