@import 'color';

body {
  background: $main-color;
}

a {
  text-decoration: none;
}

span.ruby {
  color: #ee0000;
}

.unsupported-browser-warning {
  margin: 0;
  padding: 20px 50px 20px 50px;
  background-color: #eedd82;
}
