@import 'color';

body {
  background: $main-color;
}

.content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: $main-color;
  background-image: image-url('snow.png');
  background-size: 400px 400px;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: rgba($link-color, .9);
    background-color: rgba(white, .5)
  }
}

.ruby {
  color: #ee0000;
}

.unsupported-browser-warning {
  margin: 0;
  padding: 20px 50px 20px 50px;
  background-color: #eedd82;
}
