@import 'color';

#header {
  overflow: hidden;

  h1 {
    position: fixed;
    margin: 0 30px;
    width: 350px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    color: $h1-color;
    background-color: $h1-bgcolor;
    border-right: 2px solid $h1-shadow-color;
    border-bottom: 2px solid $h1-shadow-color;
  }

  .nav {
    clear: both;
    width: 100%;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.3);

    &, ul {
      float: right;
      margin: 0;
      padding: 2px 3px;
    }

    li {
      list-style: none;
      display: inline-block;
      margin-right: 4px;
    }

    a {
      display: block;
      padding: 5px;
      border: 1px solid;
      border-color: #d3d3d3;
      color: #ccc;

      &:hover {
        border-color: rgba(255, 255, 255, 0.9);
        background-color: rgba(255, 255, 255, 0.9);
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
