@import 'color';

#header {
  background-color: $main-color;
  background-image: image-url('snow.png');
  overflow: hidden;

  h1 {
    width: 350px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    color: $h1-color;
    background-color: $h1-bgcolor;
    border-right: 2px solid $h1-shadow-color;
    border-bottom: 2px solid $h1-shadow-color;
  }

  .nav {
    $nav-color: rgba($h1-color, .7);

    position: fixed;
    top: 10px;
    right: 30px;
    clear: both;
    width: auto;

    & .link-to-top {
      margin: 80px auto 10px;
      width: 25px;
      height: 25px;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      border-radius: 50%;
    }

    &, ul {
      float: right;
      margin: 0;
      padding: 2px 3px;
    }

    li {
      list-style: none;
      margin-right: 4px;
    }

    a {
      display: block;
      padding: 5px;
      border: 1px solid;
      border-color: $nav-color;
      background-color: rgba(194, 194, 210, 0.9);
      color: $nav-color;

      &:hover {
        border-color: rgba(255, 255, 255, 0.8);
        background-color: rgba(255, 255, 255, 0.8);
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
