@import 'color';

#header {
  h1 {
    width: 350px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    color: $header-color;
    background-color: $header-bgcolor;
    border-right: 2px solid $header-shadow-color;
    border-bottom: 2px solid $header-shadow-color;
  }
}
