@import 'color';

$nav-height: 30px;
$nav-padding: 0;

#main {
  margin: 0 30px;
  max-width: 900px;

  article {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0 20px 10px 20px;

    &.adjustment {
      padding-top: $nav-height + $nav-padding * 2;
    }
  }

  h1, h2, h3 {
    border-bottom: 1px solid $border-color;
  }

  h2 {
    padding-top: $nav-height;
  }
}

#nav {
  &.fixed {
    position: fixed;
    top: 0;
  }
  $nav-color: rgba($h1-color, .7);

  position: relative;
  margin: 0;
  width: 100%;
  height: $nav-height;
  padding: $nav-padding 0;

  li {
    float: left;
    list-style: none;
    margin-right: 4px;
  }

  a {
    display: block;
    padding: 5px;
    border: 1px;
    border-style: none solid solid solid;
    border-color: $nav-color;
    background-color: rgba(194, 194, 210, 0.9);
    color: $nav-color;

    &:hover {
      border-color: rgba(255, 255, 255, 0.8);
      background-color: rgba(255, 255, 255, 0.8);
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

.profile {
  min-height: 100px;

  img {
    height: 100px;
    float: left;
  }
}
