@import 'color';

@media only screen and (max-width: 700px) {
  #nav {
    &.fixed {
      left: 0;
    }

    li {
      margin-right: 0;
      width: 33%;
    }
  }

  #main {
    margin: 0 10px;

    h2 {
      padding: 60px 0 0 0;
    }
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  #nav a {
    font-size: 14px;
  }
}

@media (min-width: 350px) and (max-width: 499px) {
  #nav a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 349px) {
  #nav a {
    font-size: 10px;
  }
}

@media only screen and (max-width: 400px) {
  table {
    thead {
      display: none;
    }

    tbody {
      td {
        display: list-item;
        list-style-type: none;
        border: none;
        margin: 0 10px 5px 10px;
        padding: 2px;

        &:first-child {
          margin: 0;
          background: $link-color * 0.3;
          color: $header-bgcolor * 0.9;
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }
}
