%p.unsupported-browser-warning
  注：このWebサイトはInternet Explorerバージョン8以下をサポートしていません。
  #{link_to 'Internet Explorer', 'http://ie.microsoft.com'}
  を最新版へ更新していただくか、もしくは
  #{link_to 'Google Chrome', 'http://chrome.google.com'}
  や
  #{link_to 'Firefox', 'http://mozilla.org/firefox'}
  での閲覧を推奨します。
