---
title: 開催概要 - 札幌市中央区Ruby会議01
---

%article.content
  %h2 開催概要

  %dl
    %dt 日程
    %dd 2014年 2月 8日（土）

    %dt 場所
    %dd かでる2・7

    %dt 時間
    %dd 13:00 ~ (予定)

  ※ただいま準備中です。2013年11月中旬に正式公開予定です。
